@import '../template/styles/sass/libs/vars';
@import '../template/styles/sass/libs/functions';
@import '../template/styles/sass/libs/mixins';
@import '../template/styles/sass/libs/skel';

@include skel-breakpoints((
  xlarge: '(max-width: 1680px)',
  large: '(max-width: 1280px)',
  medium: '(max-width: 980px)',
  small: '(max-width: 736px)',
  xsmall: '(max-width: 640px)',
  xxsmall: '(max-width: 360px)'
));

/* variables */

$red: #CC1F14;
$green: #A4B212;
$grey: #77848D;

/* Header */

#header {
  h1 {
    opacity: 1;
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 200;
    letter-spacing: 0.17em;
    line-height: 2;
    text-transform: uppercase;
  }
  h2 {
    @include vendor('transition', (
      'opacity #{_duration(transition)} ease-in-out',
      'visibility #{_duration(transition)}'
		));
    border-bottom: 0;
    font-size: 0.8em;
    margin-bottom: 0;
    opacity: 1;
    visibility: visible;

    a {
      border: 0;
    }
  }
  .logo {
    @include vendor('transition', (
				'opacity #{_duration(transition)} ease-in-out',
				'display #{_duration(transition)}'
			));
    opacity: 0;
    display: none;
    padding-top: 0.7em;

    hr {
      margin: 0;
      margin-top: 1em;
      width: 100%;
      position: relative;
      overflow: visible;
    }

    .contact {
      float: right;
      margin-top: -2em;
      p {
        opacity: 1;
        font-family: Raleway, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: 200;
        letter-spacing: 0.17em;
        line-height: 2;
        text-transform: uppercase;
      }
      a {
        text-transform: none;
        border-bottom: none;
        &:hover {
          border-bottom: dotted 1px rgba(255, 255, 255, 0.35);
        }
      }

      @include breakpoint(small) {
        span {
          display: block;
        }
      }
    }


  }

  &.alt {
    h1 {
      opacity: 1;
      visibility: visible;
    }
    h2 {
      opacity: 0;
      visibility: hidden;
    }
    .logo {
      display: block;
      opacity: 1;
    }
  }

  @include breakpoint(small) {
    height: 3.5em;
    line-height: 3.5em;
  }
}

/* Menu */

#menu .inner {
  background-color: $grey;
  .links li a:hover {
    background-color: $red;
  }
}

/* Banner */

#banner {
  h2 {
    text-align: right;
    text-transform: none;
  }
  p {
    text-transform: none;
    text-align: justify;
  }
  @include breakpoint(large) {
    @include padding(10em, 0, (0, 0, _size(wrapper-edges, large) * -0.5, 0));
  }

  @include breakpoint(medium) {
			@include padding(12em, 3em, (0, 0, _size(wrapper-edges, medium) * 0.5, 0));
  }

  @include breakpoint(small) {
    @include padding(5em, 2em, (0, 0, _size(wrapper-edges, small) * 0.5, 0));
    h2, p {
      visibility: hidden;
    }
    .subheading, .cta {
      visibility: visible;
      font-size: 1em;
      font-weight: bold;
      color: white;
    }
  }
}

/* Wrapper */

/// Sets the colors of the wrapper's top/bottom edges.
/// @param {string} $color Color.
@mixin wrapper-custom-edges-color($color: black) {
  &:before, &:after {
    background-image: svg-url('<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" preserveAspectRatio="none"><polygon points="0,100 100,0 100,100" style="fill:#{$color};" /></svg>');
  }
}

.wrapper.spotlight.style1 {
  background-color: $green;
  @include wrapper-custom-edges-color($green);
}

.wrapper.spotlight.style2 {
  background-color: $grey;
  @include wrapper-custom-edges-color($grey);
}

.wrapper.spotlight.style3 {
  background-color: $red;
  @include wrapper-custom-edges-color($red);
}

/* Fetaures */
.features {
  article {
    width: calc(33% - #{_size(section-spacing, large) * 0.5});

    &:nth-child(1n), &:nth-child(2n) {
      margin-right: auto;
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @include breakpoint(medium) {
			article {
				margin: (_size(section-spacing, medium) * 0.5) _size(section-spacing, medium) (_size(section-spacing, medium) * 0.5) 0;
				width: calc(50% - #{_size(section-spacing, medium) * 0.5});

        &:nth-child(1n), &:nth-child(3n) {
          margin-right: auto;
        }
        &:nth-child(2n) {
          margin-right: 0;
        }

        p {
          text-align: justify;
        }
			}
		}

		@include breakpoint(small) {
			article {
				@include padding(1.5em, 1.5em);
				margin: (_size(section-spacing, small) * 0.5) _size(section-spacing, small) (_size(section-spacing, small) * 0.5) 0;
				width: calc(50% - #{_size(section-spacing, small) * 0.5} - 1px);

				.image {
					margin-bottom: 1.5em;
					margin-left: -1.5em;
					margin-top: -1.5em;
					width: calc(100% + #{3em});
				}
			}
		}

		@include breakpoint(xsmall) {
			display: block;

			article {
				width: 100%;
				margin: 0 0 _size(element-margin) 0 !important;
			}
		}
}

/* Footer */
#footer {
  .inner {
    .success, .error {
      padding: 0.5em;
      background-color: $green;
      border-radius: 5px;
      color: white;
      text-align: center;
      vertical-align: baseline;
      margin: 0 3em 0 0;
      width: calc(50% - 1.5em);
    }
    .error {
      background-color: $red;
    }
  }
}

/* Images */

.image.img-logo img {
  float: none;
  max-width: 40%;
  margin-top: 0.8em;
}

.img-header img {
  margin-top: 0.5em;
  max-width: 30%;
}

.image-icon img {
  float: none;
  max-width: 60%;
  padding: 2%;
}

.image-icon.circle img {
  border: 1px solid white;
  border-radius: 100%;
}

/* General */

.hidden {
  visibility: hidden;
}

a.button {
  padding: 0 2.25em;
}

.button.red, input[type="submit"].button.red {
  background-color: $red;
  &:hover {
    background-color: $green;
  }
}
.button.green, input[type="submit"].button.green {
  background-color: $green;
  &:hover {
    background-color: $red;
  }
}
.button.grey, input[type="submit"].button.grey {
  background-color: $grey;
  &:hover {
    background-color: $red;
  }
}

.subheading {
  opacity: 1;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0.17em;
  line-height: 2;
  text-align: justify;
}

/* Animations */

.delayed {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.fadeInUpBig, .fadeInLeftBig, .fadeInRightBig {
  visibility: visible;
}