{
  /* See all the pre-defined configs here: https://www.npmjs.com/package/eslint-config-defaults */
  "parser": "babel-eslint",
  "rules": {
    "indent": 0,
    "quotes": 0,
    "linebreak-style": 0,
    "semi": [2, "always"],
    "wrap-iife": [2, "inside"],
    "no-console": 0,
  },
  "env": {
    "node":     true,
    "browser":  true,
    "es6": true
  },
  "plugins": [],
  "extends": ["eslint:recommended", "defaults/configurations/eslint"],
  "globals": {
    "$": false,
    "skel": false
  }
}